<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ZetaChat</title>
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="ZetaChat">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">  
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"rel="stylesheet">
<link rel="icon" href="./perfectLogo2.png" />
<link rel="stylesheet" href="/styles.css">
   <link rel="manifest" href="/manifest.json">
  <!-- <meta name="msapplication-TileColor" content="#ffffff"> -->
  <!-- <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"> -->
  <!-- <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"> -->
  <!-- <meta name="theme-color" content="#ffffff"> -->
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> <img src="perfectLogo2.png" alt="logo" width="175" height="90" class="d-inline-block align-text-top">
        </a>
      
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Home.ejs"> <i class="fa-solid fa-house text-black"></i> Home</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle  text-black" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user text-black"></i>
              Developer 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="https://github.com/AnujBoricha"><i class="fa-brands fa-github-square text-black"></i> GitHub</a></li>
              <li><a class="dropdown-item " href="https://www.linkedin.com/in/anuj-boricha-28212b178/"><i class="fa-brands fa-linkedin text-black"></i> Linkdin</a></li>
              <li><hr class="dropdown-divider"></li>
              
            </ul>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>
