<%- include('partials/header') %>
<div class="container mt-5">
        <div class="row">
                <div class="col-md-6 offset-md-3">
                        <div class="text-center ">
                        <img src="eyse.jpg" class="img-fluid profile-image-pic img-thumbnail rounded-circle "
                                width="400px" alt="profile">
                        </div>
                        <div class="card my-5">
                                <div class="card-body">
                                        <h3 class="text-secondary">Hi 👋<%= username %>👋</h3>
                                        <br>
                                        <center>
                                                <a type="button" class="btn btn-outline-success" href="create-room"> <i class="fa-solid fa-circle-plus text-success"></i> Create Room</a>
                                                <a type="button" class="btn btn-outline-primary" href="join-room"><i class="fa-solid fa-circle-check text-primary"></i> Join Room</a>
                                                <a type="button" class="btn btn-outline-danger" href="delete-room"><i class="fa-solid fa-ban text-danger"></i> Delete Room</a>
                                        </center>       
                                </div>
                        </div>
                </div>
        </div>

</div>

<%- include('partials/footer') %>
